/*body {
  background pink;
}*/

body {
  background: pink;
}

h1 {
  background-color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}


  .completed {
        background: #ccc;
    font-size: 12px;

    text-decoration: underline;
  }
/*
#tasks ul li:completed {
    font-size: 12px;
  background: #ccc;
  text-decoration: underline;
}*/


h1 {
  background-color: blue;
  font-size: 3em;
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}
/*
.completed {
  font-family: 12px;
}*/

#tasks ul li:completed {
  font-family: 12px;
  background: #ccc;
  text-decoration: underline;
}
